@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  padding-bottom: 50px;
  font-family: "Madimi One", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: ulr();
