

* {
    box-sizing: border
}



body {
    background-color: SeaShell;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.search {
    height: 200px;
    position: relative;
}


.search .btn{
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 24px;
    background-color: white;
    border: 0;
    height: 50px;
    width: 50px;
    cursor: pointer: 15px;
    transition: transform 3s ease;
}


.search .input {
    background-color: white;
    border: 0;
    font-size: 18px;
    height: 50px;
    width: 50px;
    padding: 15p;
    transition: width 3s ease;
}

.search .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .bin {
    transform: translateX(198px);
}
